<% attackers = %w(北京 上海 重庆 天津 浙江 四川 湖南) %>

<ul>
  <% attackers.each_with_index do |attacker, index| %>
      <% color = rand(12) * 30 %>
      <% attacker_code = PROVINCES[attacker][:id] %>

      <li>
        <img src="/images/flags_iso/128/CN.png" alt="<%= attacker %>" title="<%= attacker %>" style="margin-left:10px;">
        <span style="width:150px; display:inline-block;"><%= attacker %></span>

        <span id="amcharts_line_<%= attacker_code %>" style="width:71%; height:124px; display:inline-block; vertical-align:bottom;"></span>
        <%= javascript_tag render partial: 'amline_attacker', locals: {index: index, attacker: attacker_code, color: color}, formats: [:js] %>

        <%= image_tag "alert_#{color}.png", size: '80x80', style: 'display:inline-block;', title: color, alt: color; %>
      </li>
  <% end %>
</ul>